# pandas 기본 - 기술통계(describe), 요약정보, 정렬

## 1. 파일 읽어오기 (csv)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datas/korea-star.csv')
print(df)

      이름     그룹      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

## 2. 기본 정보 알아보기 (index, column, info)

### 2-1. column(열) 출력하기

In [3]:
print(df.columns)

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '인기지수'], dtype='object')

### 2-2. column(열) 이름 재정의하기

In [4]:
new_col = ['name', 'group', '소속사', '성별', '생년월일', '키', '혈액형', '인기지수']

In [6]:
df.columns = new_col
print(df.columns)

Index(['name', 'group', '소속사', '성별', '생년월일', '키', '혈액형', '인기지수'], dtype='object')

In [7]:
print(df.head())

  name  group   소속사  성별        생년월일      키 혈액형     인기지수
0  아이린   레드벨벳    SM  여자  1991-03-29  160.0   A  8256324
1  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
2    뷔  방탄소년단   빅히트  남자  1995-12-30  178.0  AB  8073501
3   민현    NaN  플레디스  남자  1995-08-09  182.3   O  4989792
4   소연    아이들    큐브  여자  1998-08-26    NaN   B  4668615

### 2-2. index(행) 출력하기

In [8]:
print(df.index)

RangeIndex(start=0, stop=16, step=1)

### 2-3. info 는 기본적인 row(행)의 정보와 데이터 타입을 알려줌
- info 메소드는 주로 빠진 값 (null 값)과 데이터 타입을 볼 때 활용함.

In [17]:
print(df.info())
# Non-Null Count : null 포함 여부
# Dtype : data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    16 non-null     object
 1   group   14 non-null     object
 2   소속사     16 non-null     object
 3   성별      16 non-null     object
 4   생년월일    16 non-null     object
 5   키       14 non-null     float64
 6   혈액형     16 non-null     object
 7   인기지수    16 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB
None

## 3. 통계 정보 알아보기 (describe)

In [10]:
print(df.describe())

                키          인기지수
count   14.000000  1.600000e+01
mean   173.521429  5.762417e+06
std      7.850054  2.226667e+06
min    160.000000  3.274137e+06
25%    168.725000  4.007032e+06
50%    175.500000  4.957617e+06
75%    178.900000  7.756571e+06
max    183.000000  1.052326e+07

In [18]:
print(df.describe(include="all"))
# top : 빈도수가 제일 높은 값(최빈값)
# freq : 최빈값 갯수

       name  group  소속사   성별        생년월일           키  혈액형          인기지수
count    16     14   16   16          16   14.000000   16  1.600000e+01
unique   16      8    8    2          16         NaN    4           NaN
top     아이린  방탄소년단  빅히트   남자  1991-03-29         NaN    A           NaN
freq      1      5    5   11           1         NaN    8           NaN
mean    NaN    NaN  NaN  NaN         NaN  173.521429  NaN  5.762417e+06
std     NaN    NaN  NaN  NaN         NaN    7.850054  NaN  2.226667e+06
min     NaN    NaN  NaN  NaN         NaN  160.000000  NaN  3.274137e+06
25%     NaN    NaN  NaN  NaN         NaN  168.725000  NaN  4.007032e+06
50%     NaN    NaN  NaN  NaN         NaN  175.500000  NaN  4.957617e+06
75%     NaN    NaN  NaN  NaN         NaN  178.900000  NaN  7.756571e+06
max     NaN    NaN  NaN  NaN         NaN  183.000000  NaN  1.052326e+07

In [12]:
#지수표현식 없애기 
pd.options.display.float_format = '{:.5f}'.format

In [13]:
print(df.describe())

              키           인기지수
count  14.00000       16.00000
mean  173.52143  5762416.87500
std     7.85005  2226667.34787
min   160.00000  3274137.00000
25%   168.72500  4007032.00000
50%   175.50000  4957617.00000
75%   178.90000  7756571.25000
max   183.00000 10523260.00000

In [14]:
#되돌리기
pd.reset_option('display.float_format')

In [15]:
print(df.describe())

                키          인기지수
count   14.000000  1.600000e+01
mean   173.521429  5.762417e+06
std      7.850054  2.226667e+06
min    160.000000  3.274137e+06
25%    168.725000  4.007032e+06
50%    175.500000  4.957617e+06
75%    178.900000  7.756571e+06
max    183.000000  1.052326e+07

## 4. 형태(shape) 알아보기
- shape는 tuple 형태로 반환되며, (row, column) 의미함

In [19]:
df.shape

(16, 8)

In [20]:
df

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

## 5. 상위 5개, 하위 5개의 정보만 보기
가장 자주쓰는 메소드 head(), tail()
- head() 상위 5개 row 출력
- tail() 하위 5개 row 출력
- head(3) 상위 3개 row 출력
- tail(2) 하위 2개 row 출력

In [21]:
print(df.head())
print(df.head(3))
print(df.tail())
print(df.tail(2))

  name  group   소속사  성별        생년월일      키 혈액형     인기지수
0  아이린   레드벨벳    SM  여자  1991-03-29  160.0   A  8256324
1  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
2    뷔  방탄소년단   빅히트  남자  1995-12-30  178.0  AB  8073501
3   민현    NaN  플레디스  남자  1995-08-09  182.3   O  4989792
4   소연    아이들    큐브  여자  1998-08-26    NaN   B  4668615
  name  group   소속사  성별        생년월일      키 혈액형     인기지수
0  아이린   레드벨벳    SM  여자  1991-03-29  160.0   A  8256324
1  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
2    뷔  방탄소년단   빅히트  남자  1995-12-30  178.0  AB  8073501
   name  group      소속사  성별        생년월일      키 혈액형      인기지수
11   정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12   화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13  하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14   슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15   지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
   name  group  소속사  성별        생년월일      키 혈액형      인기지수
14   슬기   레드벨벳   SM  여자  1994-02-10  161.0   A   5021452
15   지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260

## 6. 정렬하기

### 6-1. 오름차순 정렬 (default)

In [22]:
print(df.sort_index())

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

### 6-2. 내림차순 index 정렬(ascending=False)

In [23]:
print(df.sort_index(ascending=False))

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324

## 7. column 별로 정렬
- 컬럼의 키값으로 정렬하기
- df.sort_values(by='컬럼명')

### 7-1. 오름차순 정렬

In [24]:
print(df.sort_values(by='키'))

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

### 7-2. 내림차순 정렬

In [25]:
print(df.sort_values(by='키', ascending=False))

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

### [BONUS] 복수 정렬
df.sort_values(by=['컬럼명1', '컬럼명2'])

In [28]:
print(df.sort_values(by=['키', '인기지수']))
print("-"*60)
print(df.sort_values(by=['group', 'name']))

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
------------------------------------------------------------
    name  group      소속사  성별        생년월일      키 혈액형      인기지수
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792

In [29]:
print(df.sort_values(by=['키', '인기지수'], ascending=False))

    name  group      소속사  성별        생년월일      키 혈액형      인기지수
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

# [문제] 다음을 수행해 보세요.
1. 구글드라이브에 있는 "house_price.csv" 파일을 pandas DataFrame으로 loading 하기
2. 로딩한 DataFrame의 다음 정보 알아보기
    - 컬럼명, 데이터갯수, 데이터 타입, 결측치 갯수를 알아보는 명령 수행하기
3. 로딩한 DataFrame 의 기술 통계 정보 확인하기
4. 컬럼명 바꾸기 : 분양가격(㎡) -> 분양가격
5. 두 개의 키(분양가, 연도)로 내림차순 소팅 하기
    - 분양가가 가장 높았던 연도 확인

#### 문1) 구글드라이브에 있는 "house_price.csv" 파일을 pandas DataFrame으로 loading 하기

In [44]:
df = pd.read_csv("datas/house_price.csv")
print(df)

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

#### 문2) 로딩한 DataFrame의 다음 정보 알아보기

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB
None

#### 문3) 로딩한 DataFrame 의 기술 통계 정보 확인하기

In [46]:
print(df.describe())

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

#### 문4) 컬럼명 바꾸기 : 분양가격(㎡) -> 분양가격
방법1 : df.columns : 전체 열 이름을 지정<br>
방법2 : df.rename은 변경할 열 이름만 지정할 수 있음.

In [47]:
# 방법1 : 전체 열 이름을 지정
df.columns=['지역명', '규모구분', '연도', '월', '분양가격']
# print(df.columns)
print(df.head())

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [49]:
# 방법2 : 변경할 열 이름만 지정

df.rename(columns={"분양가격":"분양가"}, inplace= True)
print(df)

     지역명               규모구분    연도   월   분양가
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

#### 문5) 분양가가 가장 높았던 연도 확인하기 위해 두 개의 키(분양가, 연도)로 내림차순 소팅하기

In [50]:
print(df.sort_values(by=['분양가', '연도'], ascending=False))

     지역명               규모구분    연도   월   분양가
4424  서울        전용면적 102㎡초과  2020   2  9039
4254  서울        전용면적 102㎡초과  2019  12  8989
3999  서울        전용면적 102㎡초과  2019   9  8972
4169  서울        전용면적 102㎡초과  2019  11  8952
4084  서울        전용면적 102㎡초과  2019  10  8903
...   ..                ...   ...  ..   ...
968   대전  전용면적 85㎡초과 102㎡이하  2016   9   NaN
969   대전        전용면적 102㎡초과  2016   9   NaN
983   강원  전용면적 85㎡초과 102㎡이하  2016   9   NaN
1143  울산  전용면적 85㎡초과 102㎡이하  2016  11   NaN
1228  울산  전용면적 85㎡초과 102㎡이하  2016  12   NaN

[4505 rows x 5 columns]